.sign {
  border: 2px solid #3e3e3e;
  padding: 8px;
  display: flex;
  margin-bottom: 10px;
}

.sign_indicator {
  background-color: #0f85ab;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 8px 6px;
}

.sign_flag {
  background-image: url("../../img/norskflagg.png");
  height: 19px;
  width: 25px;
  display: block;
}

.sign_name {
    padding-top: 8px;
    display: block;
    font-weight: 700;
}

.sign_platenumber{
    font-size: xx-large;
    display: flex;
    align-items: center;
    padding-left: 21px;
}